[submodule "paint-vr"]
	path = paint-vr
	url = git@github.com:fergusfettes/paint-vr
[submodule "RiftSketch"]
	path = RiftSketch
	url = https://github.com/brianpeiris/RiftSketch
[submodule "three.js"]
	path = three.js
	url = https://github.com/mrdoob/three.js
[submodule "xterm.js"]
	path = xterm.js
	url = https://github.com/xtermjs/xterm.js
[submodule "gotty"]
	path = gotty
	url = https://github.com/yudai/gotty
[submodule "Three.js-TypeScript-Boilerplate"]
	path = Three.js-TypeScript-Boilerplate
	url = https://github.com/Sean-Bradley/Three.js-TypeScript-Boilerplate
[submodule "webssh"]
	path = webssh
	url = https://github.com/huashengdun/webssh
[submodule "tty-share"]
	path = tty-share
	url = https://github.com/elisescu/tty-share
[submodule "ten-hands"]
	path = ten-hands
	url = https://github.com/saisandeepvaddi/ten-hands
[submodule "ng-terminal"]
	path = ng-terminal
	url = https://github.com/qwefgh90/ng-terminal.git
